:host {
  mat-list-item {

    ::ng-deep mat-checkbox {
      label {
        margin-bottom: 0;

        span {
          &.done {
            text-decoration: line-through;
          }
        }
      }
    }

    button {
      margin-left: auto;
    }
  }
}
